@import "variables.scss";
@import "modal.scss";

// CSS reset
body,
html {
  background-color: #353535;
  color: white;

  font-size: 16px;
  font-family: "Roboto Mono", monospace;
}

button,
h1,
p,
div {
  margin: 0;
  padding: 0;
  border: none;
  font-size: inherit;
  background-color: inherit;
}

header {
  padding: 0.5rem;
}

footer {
  padding: 1rem;
  font-size: 0.75rem;
  text-align: center;
}

.app-container {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.recog-container {
  position: relative;
  flex: 1;
}

.overlap {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: none;
}

.title {
  text-align: center;
}

.description {
  text-align: center;
  font-size: small;
}

#status-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 1rem;
  border-radius: 1rem;
  background-color: rgba($color: black, $alpha: 0.8);
  text-align: center;
}

@media (min-width: 640px) {
  .overlay {
    font-size: medium;
    flex-basis: 3rem;
  }
}
